*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
    background: linear-gradient(80deg, rgb(106, 189, 217) 100%);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:url(images/pngtree-simple-atmospheric-blue-temperature-needle-illustration-background-image_279280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.mobile{
    display: flex;
    justify-content: space-between;
    margin-bottom:5px;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.temp-conv{
    background: #fff;
    border-radius: 3%;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    padding: 20px 25px 45px;
    border: 2px solid black;


}
.head{
    margin-bottom: 20px;
    text-align: center;
}
.result{
    text-align: center;
    margin: 20px 0px;
}
.celsius-value{
    border-bottom: 2px solid black;
    padding: 10px;
    transition: all .45s ease;
}
.deg-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
label{
    margin-bottom: 5px;
    color: #555;
    font-size: 1.05rem;
}
input,select{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding: 8px;
}
input:focus,select:focus{
    border: 1px solid #4c49f3;
}

.deg,.type{
    display: flex;
    flex-direction: column;
    width: 48%;
}
option{
    background-color: rgb(179, 182, 164);
    color: black;
}

#btn{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: cadetblue;
    color: #fff;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    cursor:pointer;
}
#btn:hover{
    background: linear-gradient(to bottom,#0a3b1c, #2fda9b);
}
